<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>文献管理系统</title>
    <!-- Le styles -->
      <link href="../static/bootstrap/css/bootstrap.css" rel="stylesheet">
      <link href="../static/bootstrap/css/bootstrap-theme.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .discription{
          padding-left: 200px;
          padding-right: 200px;
          font-size: 20px;
      }
    </style>

  </head>
    <body>
      <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-home"></span>&nbsp;文献管理系统</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#"><span class="glyphicon glyphicon-list"></span>&nbsp;文献列表</a></li>
            <li><a href=""><span class="glyphicon glyphicon-book"></span>&nbsp;文献信息</a></li>
            <li><a href=""><span class="glyphicon glyphicon-import"></span>&nbsp;文献录入</a></li>
            <li><a href=""><span class="glyphicon glyphicon-stats"></span>&nbsp;工作记录统计</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href=""><span class="glyphicon glyphicon-user"></span>&nbsp;用户id</a>
            </li>
            <li>
              <a href=""><span class="glyphicon glyphicon-log-out"></span>&nbsp;注销</a>
            </li>
            <li>
              <a href=""><span class="glyphicon glyphicon-edit"></span>&nbsp;修改密码</a>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>


      <div class="container">
        <div class="row">
            <div class="col-xs-4"></div>
            <div class="col-xs-6">
            <form class="well form-search">
              <div class="input-group"><input type="text" class="form-control">
                <span class="input-group-btn">
                  <button class="btn btn-primary btn-default" type="button">搜索文章</button>
                </span>
              </div><!-- /input-group -->
            </form>
            </div>
        </div>

        <div class="row">
		      <div class="col-xs-2">
			      <ul class="nav nav-pills nav-stacked">
				      <li class="active"><a href=""><span class="glyphicon glyphicon-import"></span>&nbsp;文献录入</a></li>
				      <li><a href=""><span class="glyphicon glyphicon-edit"></span>&nbsp;文献信息修改</a></li>
			      </ul>
		      </div>
              
          <div class="col-xs-8"><hr/><h2>文献录入&nbsp;&nbsp;<small>其中带*为必填</small></h2></div>
            <form class="form-horizontal" role="form">
              <div class="form-group discription">
                <label for="title" class="col-sm-2 control-label">标题*</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="title" placeholder="标题">
                </div>
              </div>
            
              <div class="form-group discription">
                <label for="author" class="col-sm-2 control-label">作者*</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="author" placeholder="作者">
                </div>
              </div>
                  
              <div class="form-group discription">
                <label for="publishyear" class="col-sm-2 control-label">出版年份*</label>
                <div class="col-sm-10">
                   <input type="text" class="form-control" id="publishyear" placeholder="出版年份">
                </div>
              </div>
              
              <div class="form-group discription">
                <label for="page" class="col-sm-2 control-label">页码*</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="page" placeholder="页码">
                </div>
              </div>
              
              <div class="form-group discription">
                <label for="abstract" class="col-sm-2 control-label">摘要*</label>
                <div class="col-sm-10">
                    <textarea class="form-control" id="abstract" rows="3" placeholder="摘要"></textarea>
                </div>
              </div>
              
              <div class="form-group discription">
                <label for="keyword" class="col-sm-2 control-label">关键字*</label>
                <div class="col-sm-10">
                   <input type="text" class="form-control" id="keyword" placeholder="关键字">
                </div>
              </div>
     
              <div class="form-group discription">
                 <label for="publisher" class="col-sm-2 control-label">出版社*</label>
                 <div class="col-sm-10">
                   <input type="text" class="form-control" id="publisher" placeholder="出版社">
                 </div>
              </div>
       
              <div class="form-group discription">
                <label for="url" class="col-sm-2 control-label">在线网址*</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="url" placeholder="在线的网址">
                </div>
              </div>
            
              <div class="form-group discription">
                <label for="type" class="col-sm-2 control-label">文献类型*</label>
                <div class="col-sm-10">
                  <select class="form-control">
							      <option>请选择文献类型...</option>
                    <option>图书</option>
                    <option>图书章节</option>
                    <option>期刊</option>
                    <option>会议</option>
							      <option>学位论文</option>
							      <option>技术报告</option>
							      <option>在线资源</option>
                  </select>
                </div>
              </div>
            </form>
               
            <div class="col-xs-2"></div>
              <div class="col-xs-8"><hr/><h2>附件上传</h2></div>
              <form class="form-horizontal" role="form">
                <div class="form-group discription">
                  <label for="file" class="col-sm-2 control-label">论文*</label>
                  <div class="col-sm-10">
                    <input type="file" class="form-control" id="file">
                  </div>
                </div>
                  
                <div class="form-group discription">
                  <label for="ppt" class="col-sm-2 control-label">幻灯片</label>
                  <div class="col-sm-10">
                     <input type="file" class="form-control" id="ppt">
                  </div>
                </div>
          
                <div class="form-group discription">
                    <label for="poster" class="col-sm-2 control-label">海报</label>
                    <div class="col-sm-10">
                      <input type="file" class="form-control" id="poster">
                    </div>
                </div>
          
                <div class="form-group discription">
                  <label for="presentation" class="col-sm-2 control-label">演示</label>
                  <div class="col-sm-10">
                    <input type="file" class="form-control" id="presentation">
                  </div>
                </div>
                 
                <div class="form-group discription">
                    <label for="other" class="col-sm-2 control-label">补充</label>
                    <div class="col-sm-10">
                      <input type="file" class="form-control" id="other">
                    </div>
                </div>
				  
                <div class="form-group discription">
                  <label for="code" class="col-sm-2 control-label">代码</label>
                  <div class="col-sm-10">
                   <input type="file" class="form-control" id="code">
                  </div>
                </div>
              </form>
          </div>
          <footer>
            <a class="pull-right" href="#"><span class="glyphicon glyphicon-arrow-up"></i>返回顶部</a>
          </footer>
        </div>
  </body>
</html>