<html>
<head>
<title>Example Login</title>
</head>
<body>
<p>Document id: ${document.documentId}</p>
<form action="/doc/normal/addDoc?type=add" method="POST" enctype="multipart/form-data">
<table>
    <tbody>
        <tr>
            <td>FileName: </td>
            <td><input type="text" name="filename" size="80"></td>
        </tr>
        <tr>
			<td>Attachment</td>
			<td><input name="attachment" type="file"/></a>
		<tr>
        <tr>
            <td/>
            <td><input type="submit" value="Login"></td>
        </tr>
    </tbody>
</table>
</form>
</body>
</html>