<html>
<head>
<title>Example Login</title>
</head>
<body>
<#list documents as document>
<div>
<p>Document id: ${document.id}</p>
<p>Document title: ${document.title}</p>
<p>Document author: ${document.author}</p>
</div>
</#list>
</body>
</html>